body {
  font-family: var(--font-cmusans-vi), sans-serif;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.bolditalic {
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: var(--background-color);
  /* font-family: "Computer Modern Sans", sans-serif; */
  /* font-family: 'CMUSans', sans-serif; */
  font-size: 18px;
  color: var(--text-color);
  margin: 0;
  /* font-family: sans-serif; */
  /* background: #f8f8f8; */
}


.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px;
}

/*========= HOME ========*/
/* SVG mặc định ẩn */
.section .item .title .icon-wrap svg {
  opacity: 0;
  transform: rotate(0deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover .title → chỉ icon bên trong hiện */
.section .item .title:hover .icon-wrap svg {
  opacity: 1;
}

/* Khi click: thêm class "rotate" để xoay icon */
.section .item .title .icon-wrap svg.rotate {
  transform: rotate(90deg);
}

/* Nội dung chi tiết ẩn mặc định */
.section .item .details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/* Khi mở ra */
.section .item .details.show {
  max-height: 500px;
  /* hoặc bao nhiêu tùy nội dung */
}

/* Nội dung đoạn văn */
.section .item .details p {
  margin: 0;
  margin-top: 0px;
  padding-left: 70px;
  font-weight: 200;
}


.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.nav-hide {
  transform: translateY(150%);
  opacity: 0;
  pointer-events: none;
}